@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Galmuri14';
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Galmuri14 Regular'),
         url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/Galmuri14.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/Galmuri14.ttf') format('truetype');
  }
* {
    margin: 0;
    padding: 0;
    font-family: 'ChosunGu', sans-serif;
}
header > nav {
    background-color: gray;
    margin-bottom: 30px;
}
header > nav > ul{
    list-style: none;
    display: flex;
    margin-left: 30px;
}
header > nav > ul > li {
    float: left;
    width : 80px;
    padding: 10px 0;
    /* margin-right: 10px; */
}
header > nav > ul > li > a {
    text-decoration: none;
    color : white; 
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
header > nav > ul > li > a:hover {
    background-color: darkgray;
    letter-spacing: 4px;
}
main{
    padding-left: 40px;
}
h1{
    font-size: 30px;
    padding-left: 30px;
}
#bubbleArea{
    opacity: 0;
    position: absolute;
    display: inline;
    z-index: 1;
    top: 50px;
    left: 400px;
}
#chatBubble {
    position: absolute;
    z-index: 2;
    width: 400px;
    /* transform: rotate(10deg); */
}
#saysth {
    font-size: 45px;
    font-family: 'Galmuri14', sans-serif;
    font-weight: bold;

    position: absolute;
    z-index: 3;
    width: 18rem;
    left: 70px;
    top: 170px;
}
.frameDiv {
    margin-top: 50px;
    width : 440px;
    height : 303px;
    overflow: hidden;
    position: relative;
}
#profileImg {
    width :300px;
    transition:0.5s ease 0.5s;
    position: absolute;
}
#cameraFrame {
    position: absolute;
    width: 480px; 
    right: -17px;
    top:-30px;
    opacity: 0;
}
.maincontainer{
    display: grid;
}
.maincontainer > section:nth-child(1) {
    grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.maincontainer > section:nth-child(2) {
    grid-column: 1 / 2;
	grid-row: 2 / 3;
}
.maincontainer > section:nth-child(3) {
    grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.maincontainer > section:nth-child(4) {
    grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.maincontainer > section {
    margin-top: 100px;
    line-height: 170%;
}
.maincontainer > section > h3 {
    margin-bottom: 10px;
}
.education > ul {
    margin-left: 40px;
}
.career > ol {
    margin-left: 40px;
}
.skill > ul {
    margin-left: 40px;
}
footer {
    background-color: lightgray;
    padding :30px;
    margin-top: 200px;
    line-height: 150%;
    font-size: 0.9rem;
}
